
html, body {
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}

#content {
  margin-top: 3em;
  margin-bottom: 3em;
}
.v-align {
  padding-top: 10%;
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
}

.the-title{
  font-size: 50px!important;
}

.thank-you {
  font-size: 50px!important;
  margin-top: 20%!important;
}